section {
  .locations-container {
    display: flex;
    flex-flow: wrap;
  }

  .locations-row-container {
    margin-top: 45px;
  }
}

.locations-providers-card-body {
  min-height: 200px;
  padding: 20px;
}

